.load_game {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.load_game h1 {
    margin: 0px;
    margin-left: 5px;
}

.load_game p {
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.load_game input {
    width: 10%;
    height: 100%;
}

.load_game div {
    margin-bottom: 10px;
}

.full_div {
    width: 100%;
    float: left;
}

.label_div {
    float: left;
    text-align: right;
    width:40%
}

.input_div {
    float: left;
    text-align: left;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}

.input_div input {
    width: 100%;
    height: 100%;
}

.error_div {
    float: left;
    text-align: left;
    width: 20%;
    margin-left: 5px;
}

.error_div p{
    color: red;
}